PORT=5000
MONGO_URI=mongodb://localhost:27017/lawvera
FRONTEND_APP_URL=http://localhost:3000

PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_DEFAULT_CURRENCY=USD
PAYPAL_BRAND_NAME=Lawvera
